{% extends "myapp/base.html" %}
{% block content1 %}        
    <p style="color: aliceblue;">Welcome to Django Delights Restaurant. This is my project for CodeCademy Django certification</p>
{% endblock %}
{% block content2 %}
    <div class="container">
        <button class="btn btn-primary" data-toggle="collapse" data-target="#menuitem-table" aria-expanded="false" aria-controls="menuitem-table">Click Here for Menu</button>
    </div>
    <br>
    <div class="collapse multi-collapse" id="menuitem-table">
        <table class="table">
            <thead class="thead-dark">
                <th scope="col">Menu Item</th>
                <th scope="col">Price</th>
            </thead>
            <tbody>
                {% for item in menu %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <button class="btn btn-primary" data-toggle="collapse" data-target="#menuitem-create" aria-expanded="false" aria-controls="menuitem-create">Add new Menu Item</button>
    </div>
    <br>
    <div class="collapse multi-collapse" id="menuitem-create">
        <form action="{% url 'menuitem_create' %}" method="POST" style="margin: 0px 100px 20px 100px; padding: 25px; background-color: rgba(66, 51, 51, 0.233); border-radius: 10px;" >
            {% csrf_token %}
            <input type="text" placeholder="Enter the name of the Menu Item" name="title" class="form-control" style="margin-bottom: 15px;" />
            <input type="number" placeholder="Enter the price of the item" step="0.01" name="price" class="form-control" style="margin-bottom: 15px;" />
            <button class="btn btn-primary" type="submit">Add new item</button>
        </form>
    </div>
{% endblock %}