{% extends "myapp/base.html" %}
{% block content1 %}        
    <p style="color: aliceblue;">Welcome to Django Delights Restaurant. This is my project for CodeCademy Django certification</p>
{% endblock %}
{% block content2 %}
    <div class="container">
        <button class="btn btn-primary" data-toggle="collapse" data-target="#menu-table" aria-expanded="false" aria-controls="menu-table">Click Here for Menu</button>
    </div>
    <br>
    <div class="collapse multi-collapse" id="menu-table">
        <table class="table">
            <thead class="thead-dark">
                <th scope="col">Menu Item</th>
                <th scope="col">Price</th>
            </thead>
            <tbody>
                {% for item in menu %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}